<!DOCTYPE html>
<html>
<head>
  <style>
    table, td, th {
      border: 1px solid #ddd;
    }

    table {
      border-collapse: collapse;
      width: 80%;
    }

    td {
      padding: 15px;
    }

    .table_padding td {
      padding: 12px;
    }

    tr:nth-child(even){background-color: #f2f2f2}
  </style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

</head>
<body>
<div class="container" style="margin-top: 5px; margin-bottom: 35px">
  <div class="page-header">
    <h1><span style="color: #A9CC2D; ">Welcome to Veeam Cloud Connect</span><small>, <%= @email %></small></h1>
  </div>
  <div class="container" style="margin-top: 30px">
    <div class="row" >
      <div class="col-md-4">
        <%= image_tag "logomail_new.png", width:"400px",style: "padding-top: 18px;" %>
      </div>
    </div>
  </div>
  <h3 style="margin-top:25px; margin-bottom:25px;">Contact mail:<span> <%= mail_to "cloudconnect@megatrend.com" %></span></h3>
  <div class="container" style="margin-top: 10px;">
    <h3>You have selected the following items for the Veeam Cloud Connect service:</h3>

    <div class="row">
      <div class="col-md-12">
        <table class="table_padding">
          <tr>
            <td >SERVICE:</td>
            <td ><%= @service %></td>
            <td align="right"></td>
          </tr>
          <tr>
            <td >PLATFORM:</td>
            <td ><%= @platform %></td>
            <td align="right"></td>
          </tr>
          <tr>
            <td >BASIC PACKAGE:</td>
            <td ><%= @basic_pack %></td>
            <td align="right"><%= number_to_currency(@service_price, :unit => "" ) %></td>
          </tr>
          <% unless @extra_vm.empty? %>
              <tr>
                <td >ADDITIONAL VM:</td>
                <td ><%= @extra_vm %></td>
                <td align="right"><%= number_to_currency(@extra_vm_price, :unit => "" ) %></td>
              </tr>
          <% end %>
          <% unless @extra_storage.empty? %>
              <tr>
                <td >ADDITIONAL SPACE:</td>
                <td ><%= @extra_storage.to_i/100 %>x100 GB</td>
                <td align="right"><%= number_to_currency(@extra_storage_price, :unit => "" ) %></td>
              </tr>
          <% end%>
          <tr>
            <td ></td>
            <td></td>
            <td align="right" ><b><%= number_to_currency(@sum_price, :unit => "", ) %></b></td>
            <td><b>EUR/month</b></td>
          </tr>
        </table>
        <h4>The price includes <%= @sum_vm %> VM and <%= @sum_storage %> GB.</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>The price is expressed in EUR.</br>
          For customers in the Republic of Croatia, the price is calculated in HRK equivalent at the RBA exchange rate on the day of issue of the invoice.</br>
          Value Added Tax is not included in the price but is calculated at the applicable rate on the day the invoice is issued.</br>
          </br>
          The calculation applies to users using the commercial Veeam "Backup & Replication" license.
        </p>
      </div>
    </div>

    <h4>Register and use our online calculator!</h4>
  </div>
  <h3 style="margin-top:25px; margin-bottom:25px;">Contact mail:<span> <%= mail_to "cloudconnect@megatrend.com" %></span></h3>
  <hr>
  <h4  style="margin-top: 10px"><span style="color: #A9CC2D; ">Veeam Cloud Connect</span> - be <span style="color: #A9CC2D; ">„Always On”</span>!</h4>
  <br/>
  <div class="row">
    <div class="col-md-8 col-md-2">
      <small>If you have received this message by mistake or it is not intended to you, do not use, copy, distribute or open attachments Delete it immediately from your computer system and notify the sender that you have done so. Thank you!</small>
    </div>
  </div>
</div>

</body>
</html>